<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartparkingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icona"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconacerchio"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CancellaAutoActivity" android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".CaricaContoActivity" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".RinnovoActivity" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".TicketInfoActivity"
            android:launchMode="singleTop" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".AggiungiAuto" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".HomePageActivity" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".RegistrazioneActivity" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".AcquistaTicket" android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".MainActivity" android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity
            android:name=".PopupWindow"
            android:theme="@style/Widget.AppCompat.PopupWindow" />

        <service android:name=".ServiceNotify" />
    </application>

</manifest>